@charset "utf-8";

/*
#-------- Copyright synnex.com ----------
Modify: 2011/12/23
Author: gui@synnex.com
changes:
*/

@font-face {
    font-family: 'OpenSans';
    src: url('../font/OpenSans-Light-webfont.eot');
    src: url('../font/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../font/OpenSans-Light-webfont.woff') format('woff'), url('../font/OpenSans-Light-webfont.ttf') format('truetype'), url('../font/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
html, .pure-g [class *="pure-u"] {
    /* Set your content font stack here: */
    font-family: OpenSans, Helvetica, sans-serif, Segoe, "Segoe UI";
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-size: 100%;
}
.wrapper {
    margin-bottom: -4em;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
.content {
    background: url(../images/480_downloadpage_banner.png) no-repeat top;
    margin: 0 auto;
    padding-top: 170px;
}
.content .download-desc {
    margin-bottom: 2px;
    text-align: center;
    color: rgb(80, 80, 80);
    font-size: 22px;
}
.footer, .push {
    height: 4em;
}
.footer {
    margin: 0;
    line-height: 4em;
    color: #017dbd;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
}
.content .l-box {
    display: block;
    position: relative;
    margin: 5px;
    padding-left: 50px;
    height: 140px;
    line-height: 140px;
    background: #0ba29a;
    text-decoration: none;
    -webkit-transition: background .25s;
    -moz-transition: background .25s;
    -o-transition: background .25s;
    transition: background .25s;
}
.content .l-box:hover {
    background: #f18f0f;
}
.content .l-box .logo, .content .l-box .category {
    display: inline-block;
    vertical-align: middle;
}
.content .l-box .category {
    line-height: 1.5;
}
.content .l-box .logo {
    text-indent: -999999px;
    width: 90px;
    margin-right: 50px;
}
.content .apple .logo {
    background: url(../images/typeicons_90.png) no-repeat top;
    height: 102px;
}
.content .android .logo {
    background: url(../images/typeicons_90.png) no-repeat left -107px;
    height: 102px;
}
.content .win .logo {
    background: url(../images/typeicons_90.png) no-repeat left -209px;
    height: 96px;
}
.content .l-box .category h2 {
    margin: 0;
    color: #fff;
}
@media screen and (max-width: 480px) {
    body {
        font-size: 62.5%;
    }
    .content {
        background-size: contain;
        padding-top: 120px;
    }
    .content .download-desc {
        font-size: 18px;
    }
    .content .l-box {
        height: 50px;
        line-height: 50px;
        padding-left: 30px;
        margin: 2px;
    }
    .content .l-box .logo {
        width: 40px;
        margin-right: 30px;
    }
    .content .apple .logo {
        background: url(../images/typeicons_40.png) no-repeat top;
        height: 47px;
    }
    .content .android .logo {
        background: url(../images/typeicons_40.png) no-repeat left -47px;
        height: 47px;
    }
    .content .win .logo {
        background: url(../images/typeicons_40.png) no-repeat left -94px;
        height: 43px;
    }
    .footer {
        font-size: 10px;
    }
}
@media screen and (min-width: 480px) {
    .content {
        background-size: contain;
        padding-top: 170px;
    }
    .content .l-box {
        height: 70px;
        line-height: 70px;
        padding-left: 50px;
        margin: 5px;
    }
    .content .l-box .logo {
        width: 40px;
        margin-right: 30px;
    }
    .content .apple .logo {
        background: url(../images/typeicons_40.png) no-repeat top;
        height: 47px;
    }
    .content .android .logo {
        background: url(../images/typeicons_40.png) no-repeat left -47px;
        height: 47px;
    }
    .content .win .logo {
        background: url(../images/typeicons_40.png) no-repeat left -94px;
        height: 43px;
    }
}
@media screen and (min-width: 540px) {
    .content {
        background: url(../images/540_downloadpage_banner.png) no-repeat top;
        padding-top: 180px;
        max-width: 570px;
    }
}
@media screen and (min-width: 640px) {
    .content {
        background: url(../images/640_downloadpage_banner.png) no-repeat top;
        padding-top: 220px;
        max-width: 670px;
    }
}
@media screen and (min-width: 720px) {
    .content {
        background: url(../images/720_downloadpage_banner.png) no-repeat top;
        padding-top: 250px;
        max-width: 730px;
    }
}
@media screen and (min-width: 768px) {
    body {
        font-size: 140%;
    }
    .content {
        background: url(../images/768_downloadpage_banner.png) no-repeat top;
        padding-top: 270px;
        max-width: 798px;
    }
    .content .l-box {
        height: 120px;
        line-height: 120px;
        padding-left: 50px;
        margin: 5px;
    }
    .content .l-box .logo {
        width: 90px;
        margin-right: 50px;
    }
    .content .apple .logo {
        background: url(../images/typeicons_90.png) no-repeat top;
        height: 102px;
    }
    .content .android .logo {
        background: url(../images/typeicons_90.png) no-repeat left -107px;
        height: 102px;
    }
    .content .win .logo {
        background: url(../images/typeicons_90.png) no-repeat left -209px;
        height: 96px;
    }
}
@media screen and (min-width: 1000px) {
    .content {
        background: url(../images/1000_downloadpage_banner.png) no-repeat top;
        padding-top: 230px;
        max-width: 1030px;
    }
}
@media screen and (min-width: 1024px) {
    .content {
        background: url(../images/1024_downloadpage_banner.png) no-repeat top;
        padding-top: 190px;
        max-width: 1054px;
    }
}
@media screen and (min-width: 1080px) {
    .content {
        background: url(../images/1080_downloadpage_banner.png) no-repeat top;
        padding-top: 330px;
        max-width: 1100px;
    }
}
@media screen and (min-width: 2048px) {
    body {
        font-size: 130%;
    }
    .content {
        background: url(../images/2048_downloadpage_banner.png) no-repeat top;
        padding-top: 370px;
        max-width: 2078px;
    }
    .content .l-box > .category {
        max-width: 100px;
    }
}
